:root {
    --main-bg-color: #A0D0F8;
    --main-text-color: white;
    --main-emphasis: #EA5C5A;
}

body {
    font-family: system-ui;
    background-color: var(--main-bg-color);
}

.misc-link {
    color: var(--main-emphasis);
    padding: 28px;
    font-size: 2em;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.border-emphasis {
    border: var(--main-emphasis) 10px double;
}

.profile-img {
    border-radius: 200px;
    width:200px;
}

h1 {
    color: var(--main-emphasis);
    font-size: 4em;
    margin-bottom: 0px;
}

.job-title {
    color: #3f4850;
    font-size: 2em;
    margin-top: 0px;
    margin-bottom: 20px;
}

.line {
    border-bottom: var(--main-emphasis) 7px double;
    margin-right: 100px;
}

.my-bio {
    font-size: 1.5em;
    margin-top: 40px;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-main {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 600px;
}